body {
    margin: 0;
}

.navbar {
    background-color: black;
    opacity: 0.8;   
}

.logo {
    width: 200px;
    margin: 10px 0px 2px 30px;
}

.menu {
    display: inline-block;
}

.menu li {
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    list-style-type: none;
    color: aliceblue;

}
